.dropzone {
    outline: 1px dashed var(--stroke-default);
    border:2px dashed transparent;
    border-radius: .25rem;
    display: grid;
    justify-items: center;
    text-align: center;
    gap: .5rem;
    padding: 1.75rem 1rem;
    position: relative;

    & input {
        opacity: 0;
        width: 100%;
        height: 100%;
        inset: 0;
        position: absolute;
    }

    & p {
        color: #A8A29E;
    }

    &:hover,&:has(input:focus) {
        outline-width: 0;
        border-color: var(--stroke-highlight);
        background-color: var(--surface-secondary);

        & p {
            color:var(--text-tertiary);
        }

        & svg path {
            stroke:var(--stroke-highlight);
        }
    }
}